{% load static %}
<html>
    <head>
        <title>Antons Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Antons Blog</a></h1>
        </div>
 
    <body> 

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    <form method='GET' action=''>
                        <input type='text' name='q' placeholder="Search posts" />
                        <input type='submit' value='Search' />
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
