{% load static %}
<html>
    <head>
        <title>Antons Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    
    

   
    <div class="content container">
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            
                <div class="page-header">
                    
                    <h1><a href="/">Antons Blog</a></h1>
                </div>
              <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li class="active"><a href="{% url 'post_category_essen' %}">Essen</a></li>
                <li><a href="{% url 'post_category_koerper' %}">Körper</a></li>
                <li><a href="{% url 'post_category_sport'  %}">Sport</a></li>
                <li><a href="{% url 'post_category_lifestyle'  %}">Lifestyle</a></li>
                <li><a href="{% url 'post_category_anders'  %}">Anders</a></li>
              </ul>
             
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous %}
                    <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                        <li><a href="{% url 'post_new' %}" ><span class="glyphicon glyphicon-plus"></span> Add a new post</a></li>
                {% endif %}
            </ul>
            </div>
          </nav>
       
         
    <body> 

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            <code>Erstelldatum:</code>{{ post.published_date }}
                        </div>

                        <div class="author">
                            <code>Autor:</code>{{ post.author }}
                        </div>
                        
                        <div class="category">
                            <code>Kategorie:</code>{{ post.category }}
                            
                        </div>


                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        
                        
                        
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

