h1 a, h2 a {
    color: #516e9e;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #d5d8dc;
    padding-left: 120px;
}
.page-header {
    background-color: #516e9e;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 0px;
    margin-right: 40px;
}

.image {
    margin-bottom: 20px;
    margin-left: 270px;

   }

h1, h2, h3, h4 {
    font-family: sans-serif, cursive;
}

.date {
    color: #5783ff;
}

.author {
    color: #5783ff;
}

.category {
    color: #5783ff;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #632b2b;
}